---
import { Image } from '@astrojs/image/components'
import Link from './Link.astro'

export interface Props {
	title: string
	img: string
	border: string
	hrefCode: string
	hrefWeb: string
	width?: number
	height?: number
}

const {
	title = 'null',
	border = 't',
	img = null,
	hrefCode = null,
	hrefWeb = null,
	width = 250,
	height = 350
} = Astro.props
---

<div class='rounded-md hover:bg-white transition-all duration-100'>
	<Link href={hrefCode}>
		<Image
			width={width}
			height={height}
			alt={title}
			class='rounded-lg p-0.5 object-top'
			src={import(`../assets/${img}.jpg`)}
			quality={100}
			format='jpg'
		/>
	</Link>
</div>
