---
import { Image } from '@astrojs/image/components'
import Link from './Link.astro'

export interface Props {
	title: string
	img: string
	border: string
	hrefCode: string
	hrefWeb: string
	width?: number
	height?: number
}

const {
	title = 'null',
	border = 't',
	img = null,
	hrefCode = null,
	hrefWeb = null,
	width = 300,
	height = 250
} = Astro.props
---

<div class='relative'>
	<Image
		width={width}
		height={height}
		alt={title}
		fit='cover'
		class='rounded-lg p-0.5 object-top'
		src={import(`../assets/${img}.jpg`)}
		quality={100}
		format='webp'
	/>

	<div
		class='este absolute top-50 bottom-0 left-0 flex justify-around items-center px-5 bg-black rounded-t-sm w-full'
	>
		<div class='flex flex-col justify-center items-center py-2'>
			<Link href={hrefCode} additionalClass='flex-col 	'>
				<img src='./icons/github.svg' class='w-10 border-2 rounded-full' />
			</Link>
		</div>

		<div class='flex flex-col justify-center items-center'>
			<Link href={hrefWeb} additionalClass='flex-col	'>
				<img src='./icons/web.svg' alt='' class='w-10 bg-white rounded-full border-2' />
			</Link>
		</div>
	</div>
</div>

<style>
	.este {
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
	}
</style>

<script></script>
