---
import { Image } from '@astrojs/image/components'
import Link from './Link.astro'

export interface Props {
	title: string
	img: string
	border: string
	hrefCode: string
	hrefWeb: string
	width?: number
	height?: number
}

const {
	title = 'null',
	border = 't',
	img = null,
	hrefCode = null,
	hrefWeb = null,
	width = 300,
	height = 250
} = Astro.props
---

<div class='relative rounded-md hover:border-2 transition-all duration-100'>
	<Image
		width={width}
		height={height}
		alt={title}
		fit='cover'
		class='rounded-lg p-0.5 object-top'
		src={import(`../assets/${img}.jpg`)}
		quality={100}
		format='webp'
	/>

	<div
		class='absolute top-0 bottom-0 left-0 rounded-t-sm flex justify-end items-start p-2 gap-x-2 w-full'
	>
		<Link href={hrefCode}>
			<img src='./icons/github.svg' alt='code' class='w-8 border-2 rounded-full' />
		</Link>

		<Link href={hrefWeb}>
			<img src='./icons/web.svg' alt='web' class='w-8 bg-white rounded-full border-2' />
		</Link>
	</div>
</div>
