---
import { Image } from '@astrojs/image/components'
import Link from './Link.astro'

export interface Props {
	title: string
	img: string
	border: string
	hrefCode: string
	hrefWeb: string
	width?: number
	height?: number
}

const {
	title = 'null',
	border = 't',
	img = null,
	hrefCode = null,
	hrefWeb = null,
	width = 200,
	height = 280
} = Astro.props
---

<div class='rounded-md hover:bg-white transition-all duration-100'>
	<Link href={hrefCode}>
		<Image
			width={width}
			height={height}
			alt={title}
			fit='cover'
			class='rounded-lg p-0.5 object-top'
			src={import(`../assets/${img}.jpg`)}
			quality={100}
			format='webp'
		/>
	</Link>
</div>
