---
import { proyects } from '../data/projects'
import Card from './Card.astro'
import Link from './Link.astro'
---

<div class='grid grid-cols-1 md:grid-cols-3 md:gap-x-5 gap-y-5'>
	{
		proyects.map(({ cover, name, desc, hrefWeb, hrefCode }) => (
			<Link href={`/portfolio-astro/proyect/${name}`}>
				<Card border='t' title={name} img={cover} hrefWeb={hrefWeb} hrefCode={hrefCode} />
			</Link>
		))
	}
</div>
<button class='bg-gray bg-opacity-10 rounded-lg w-full md:w-80 py-2'>Ver más</button>

<style>
	div :global(a):nth-child(n + 4) {
		@apply hidden opacity-0;
	}
</style>

<script>
	const buttonShowMore = document.querySelector('#proyectos button') as HTMLInputElement
	const proyects = document.querySelectorAll('#proyectos article > div > a:nth-child(n + 4)')

	buttonShowMore.addEventListener('click', () => {
		proyects.forEach((proyect) => {
			;(proyect as HTMLElement).style.setProperty('display', 'flex')
			;(proyect as HTMLElement).style.setProperty('opacity', '0')
			proyect.clientWidth
			;(proyect as HTMLElement).classList.add(
				'transition-all',
				'ease-linear',
				'delay-250',
				'duration-250'
			)
			;(proyect as HTMLElement).style.setProperty('opacity', '1')
			buttonShowMore.classList.add('hidden')
		})
	})
</script>
